<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr><td>Nom</td><td>Catégorie</td><td>Type</td><td>Adresse</td><td>telephone</td></tr>
	<tr th:each="vd : ${vendeurs}" th:if="${vd.type}=='detail'" ><div ><td th:text="${vd.nom}">Nom</td><td th:text="${vd.categorie}">Catégorie</td><td th:text="${vd.type}">Type</td><td th:text="${vd.adresse}">Adresse</td><td th:text="${vd.telephone}">telephone</td></div></tr>
	</table>
</body>
</html>